@import 'tailwindcss';

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer utilities {
    @media (min-width: 768px) {
        .md\:h-left {
            height: calc(100vh - 208px);
        }
    }
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
