.swiper-slide {
    display: flex;
    justify-content: center;
    margin-bottom: 30px !important;
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff;
    transform: scale(0.35);
    top: 68%;
}

.swiper-pagination-bullet {
    background-color: #d9d9d9 !important;
    height: 7px !important;
    width: 7px !important;
    opacity: 0.2 !important;
    margin: 4px !important;
}

.swiper-pagination-bullet-active {
    opacity: 0.5 !important;
    width: 14px !important;
    border-radius: 3px !important;
}

.swiper-pagination {
    bottom: 0px !important;
}
